#root {
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #9593b0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* game-section */

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

ul li {
  width: 250px;
  list-style: none;
  border: 2px solid rgba(192, 192, 192, 0.522);
  padding: 3px;
  border-radius: 8px;
  transition: all 0.3s linear;
  background-color: #504d6e;
  color: white;

  &:hover {
    background-color: rgb(221, 220, 220);
    color: #504d6e;
    cursor: pointer;
  }
}

.game-section {
  position: relative;
  width: 500px;
  background-color: white;
  box-shadow: 10px 10px 2px rgba(255, 255, 255, 0.4);
  padding: 15px;
  border-radius: 14px;

  h1 {
    font-size: 25px;
    position: absolute;
    top: 45px;
    left: 60px;
  }

  div {
    background-color: rgba(192, 192, 192, 0.4);
    border-radius: 8px;
    height: 15px;
  }

  span {
    background-image: linear-gradient(90deg, #423e6e, #767392);
    border-radius: 8px;
    height: 15px;
    display: block;
  }
}

/* game-section */



/* result-section */

.result-section {
  position: relative;
  width: 500px;
  height: 250px;
  background-color: white;
  box-shadow: 10px 10px 2px rgba(255, 255, 255, 0.4);
  padding: 15px;
  border-radius: 14px;
  background-image: url(./img/confetti.webp);
  background-position: top center;

  h4 {
    width: 240px;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
    border-radius: 25px;
    margin: 0 auto;
    background-color: white;
  }

  button {
    background-color: #2f2c50;
    width: 350px;
    padding: 8px;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;

    &:hover {
      background-color: rgb(221, 220, 220);
      color: #504d6e;
      cursor: pointer;
    }
  }
}

/* result-section */



/* media */

@media (max-width: 610px) {
  .game-section,
  .result-section {
    width: 350px;
  }

  .result-section {
    height: 200px;
  }

  .game-section ul li {
    width: 165px;
    font-size: 14px;
  }

  .game-section ul {
    margin-top: 120px;
  }

  .result-section h4 {
    width: 100%;
    font-size: 27px;
  }

  .result-section button {
    width: 250px;
    font-size: 14px;
  }
}


@media (max-width: 450px) {
  .game-section,
  .result-section {
    width: 300px;
  }

  .result-section {
    height: 180px;
  }

  .game-section ul li {
    width: 145px;
    font-size: 13px;
  }

  .game-section ul {
    margin-top: 120px;
  }

  .game-section h1 {
    left: 35px;
  }

  .result-section h4 {
    width: 100%;
    font-size: 24px;
  }

  .result-section button {
    width: 250px;
    font-size: 13px;
  }
}


@media (max-width: 390px) {
  .game-section,
  .result-section {
    width: 270px;
  }

  .result-section {
    height: 165px;
  }

  .game-section ul li {
    width: 160px;
    font-size: 13px;
  }

  .game-section ul {
    margin-top: 120px;
  }

  .game-section h1 {
    left: 30px;
  }

  .result-section h4 {
    width: 100%;
    font-size: 23px;
  }

  .result-section button {
    width: 230px;
    font-size: 13px;
  }
}